Filter by:

{{#bs-dropdown as |dd|}}
  {{#dd.button}}Customers <span class="caret"></span>{{/dd.button}}
  {{#dd.menu as |menu|}}
    {{#each customerList as |cl|}}
      {{#menu.item}}
        <button {{action "setCFilter" cl.owner}}>{{cl.owner}}</button>
      {{/menu.item}}
    {{/each}}
  {{/dd.menu}}
{{/bs-dropdown}}

{{#bs-dropdown as |dd|}}
  {{#dd.button}}Status <span class="caret"></span>{{/dd.button}}
  {{#dd.menu as |menu|}}
    {{#menu.item}}
      <button {{action "onStatus"}}>On</button>
    {{/menu.item}}
    {{#menu.item}}
      <button {{action "offStatus"}}>Off</button>
    {{/menu.item}}
    {{#menu.item}}
      <button {{action "noStatusFilter"}}>All</button>
    {{/menu.item}}
  {{/dd.menu}}
{{/bs-dropdown}}

{{#if (or (not-eq vFilter null) (not-eq cFilter null))}}
  <button {{action "clearFilter"}}>clear filter</button>
{{/if}}

{{#if (and (eq vFilter null) (eq cFilter null))}}
  {{#each model as |m|}}
    {{vehicle-card model=m}}
  {{/each}}
{{else}}
  {{#if (eq vFilter 1)}}
    {{#each statusOn as |on|}}
      {{vehicle-card model=on}}
    {{/each}}
  {{else if (eq vFilter 0)}}
    {{#each statusOff as |off|}}
      {{vehicle-card model=off}}
    {{/each}}
  {{else if (eq cFilter "Kalles Grustransporter AB")}}
    {{#each customerFiltered as |c|}}
      {{vehicle-card model=c}}
    {{/each}}
  {{else if (eq cFilter "Johans Bulk AB")}}
    {{#each customerFiltered2 as |c|}}
      {{vehicle-card model=c}}
    {{/each}}
  {{else if (eq cFilter "Haralds Värdetransporter AB")}}
    {{#each customerFiltered3 as |c|}}
      {{vehicle-card model=c}}
    {{/each}}
  {{/if}}
{{/if}}